body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
div {
  display: block;
}
.logo {
  height: 50px;
  margin-left: 10px;
}
header {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  top: 0px;
}
nav span a {
  text-decoration: underline;
  color: seashell;
  flex-grow: 1;
  padding: 0 10px;
}
nav {
  text-align: right;
  padding: 10px 20px;
}
.main {
  width: 1200px;
  padding-top: 62px;
  margin: auto;
  text-align: center;
}
.mission {
  width: 100%;
  height: 700px;
  background-image: url("../img/background.jpg");
  align-items: center;
  justify-content: center;
}
.text-content {
  background-color: black;
  width: 100%;
  color: seashell;
}
.featured-tea {
  width: 1000px;
  height: 700px;
  padding-top: 62px;
  margin: auto;
}
.teas.flex-container {
  justify-content: center;
}
.tea img {
  width: 300px;
  height: 200px;
}
h2, h4 {
  margin: 10px;
}
.tea {
  margin: 10px;
}
p {
  display: block;
}
