body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  width: 1200px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.logo {
  height: 50px;
  margin-left: 10px;
}
header {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
}
nav span a {
  text-decoration: underline;
  color: seashell;
  flex-grow: 1;
  padding: 0 10px;
}
nav {
  text-align: right;
  padding: 10px 20px;
}
